<a href="https://colab.research.google.com/github/head4ths/CEI/blob/master/mini_project2_v4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 과제 개요

In [ ]:
# 금융데이터 분석 7기 레벨 2 최종 미니프로젝트 제출 안내
# - 제출기한 : 07/19 (일) 오후 11시 59분
# - 제출 url : https://bit.ly/39IDJyp

# * 과제 및 학습내용 관련 문의사항이 있으신 경우, 링크로 접속후 문의하시기 바랍니다. https://bit.ly/3bfaR1u
# * 학습 진도 및 과제제출, 시스템 오류관련 문의는 김진표 매니저에게 메일 부탁드립니다. jinpyokim@fastcampus.co.kr 

# * 각 문제의 조건을 확인하신 후 문항 내 코드를 작성해주시면 됩니다. 
# 저장 후 파일형태(.ipynb)로 위에 게시된 링크를 통해 제출해주세요. 

# 중요 아래 칸에 제출자 성함 / 소속부서를 적어주세요.

# 이름 : 이기로 (클릭하여 수정해주세요)
# 소속 : 시스템팀 (클릭하여 수정해주세요)

# 문제
# 네이버 금융 페이지로 이동하여 다음 정보를 수집하여 엑셀파일로 저장합니다.
# - 인기 검색 종목
# - 갭상승
# - 외국인 순매수/순매도 (심화문제)

# 조건
# 1) 인기 검색 종목을 수집하는 코드를 함수로 만들어서 인기 검색 종목을 튜플의 리스트로 반환합니다.
# 2) 인기 검색 종목의 상승,하락 정보도 함께 수집해야합니다.
# 3) 갭상승을 수집하는 코드를 함수로 만들어서 갭상승을 튜플의 리스트로 반환합니다.
# 4) 엑셀파일로 저장할 때, 각 데이터를 위한 시트를 생성하여 별도로 수집합니다.
# 5) (심화) 외국인 순매수/순매도를 수집하는 코드는 수집한 정보를 리스트의 딕셔너리로 반환합니다.
# 6) (심화) 순매수와 순매도가 'buy'키와 'sell'키에 구분된 채로 수집되어야합니다.
# 7) (심화) 엑셀로 저장할 때 순매수와 순매도 정보를 3번째 컬럼에 추가합니다. (이름, 가격, 순매수/순매도여부)

# 예시
# 1)~2) 데이터 결과 예시: [('씨젠', '119,200', '상승'), ('삼성전자', '48,200', '상승'), ('SK하이닉스', '80,700', '하락'), ...]
# 3) 데이터 결과 예시: [('씨엠에스에듀', '6,140'), ('유한양행우', '63,100'), ...]
# 5)~6) 데이터 결과 예시: {'buy': [['현대차', '102,500'], ['삼성화재', '203,500']], 'sell': ...}

# Hint
# 1) 생성할 함수는 selenium 라이브러리의 driver를 전달해야합니다. (예시: def get_popular_items(driver) )
# 2) 인기 검색 종목이 상승인지 하락인지 확인하기 위해서는 숫자값의 클래스 속성값이 'dn'인지 'up'인지 get_attribute()를 알수있습니다.

# 모듈설치

In [ ]:
### Google Colab 수행용 설치
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 2.7MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:4 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [43.3 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,005 kB]
Get:16 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,849 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [13.7 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [869 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [89.9 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [9,279 B]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [104 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,407 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,307 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [8,432 B]
Get:25 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [892 kB]
Fetched 7,889 kB in 3s (2,317 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension adobe-flashplugin
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 66 not upgraded.
Need to get 75.5 MB of archives.
After this operation, 256 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 83.0.4103.61-0ubuntu0.18.04.1 [1,119 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 83.0.4103.61-0ubuntu0.18.04.1 [66.7 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 83.0.4103.61-0ubuntu0.18.04.1 [3,378 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 83.0.4103.61-0ubuntu0.18.04.1 [4,294 kB]
Fetched 75.5 MB in 3s (23.7 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 144465 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_83.0.4103.61-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (83.0.4103.61-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_83.0.4103.61-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (83.0.4103.61-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_83.0.4103.61-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (83.0.4103.61-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_83.0.4103.61-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (83.0.4103.61-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (83.0.4103.61-0ubuntu0.18.04.1) ...
Setting up chromium-browser (83.0.4103.61-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (83.0.4103.61-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (83.0.4103.61-0ubuntu0.18.04.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

In [ ]:
### 구글 Colab에서 수행용 Driver 설정
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: use options instead of chrome_options

In [ ]:
### 기타모듈 설치 1
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
### 기타모듈 설치 2
!pip install html_table_parser
from html_table_parser import parser_functions as parser

Collecting html_table_parser
  Downloading https://files.pythonhosted.org/packages/59/40/41e167a70bffa68390789c51e22bf88eefefa20f61e79208d2bec61a9b79/html_table_parser-0.1.0.tar.gz
Collecting beautifulsoup4==4.4.1
  Downloading https://files.pythonhosted.org/packages/cf/69/9abfdab06490af5e0233bcebe3f617ec128486d94ea987ad4f77b9332eef/beautifulsoup4-4.4.1-py3-none-any.whl (81kB)
     |████████████████████████████████| 81kB 2.2MB/s
Building wheels for collected packages: html-table-parser
  Building wheel for html-table-parser (setup.py) ... done
  Created wheel for html-table-parser: filename=html_table_parser-0.1.0-cp36-none-any.whl size=4647 sha256=00879d11b47eb6a15dbbcc4140077b5f8616efde13dc6b72d9e1329d3c3f2a9b
  Stored in directory: /root/.cache/pip/wheels/fc/e4/bb/b7dee4117c35a093336952e875c88febba9f4764fa0dbd4eb9
Successfully built html-table-parser
Installing collected packages: beautifulsoup4, html-table-parser
  Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.4.1 html-table-parser-0.1.0

In [ ]:
### 기타모듈 설치 3
from google.colab import files

# 함수 - 문항 1) ~ 5)

In [ ]:
# 문항 1) 인기 검색 종목을 수집하는 함수
def get_popular_items(driver):
    results = []

    # 문항 2) 수집하는 코드 작성하여 results에 추가
    driver.get("https://finance.naver.com/")
    req = driver.page_source
    soup=BeautifulSoup(req, 'html.parser')    
    data = soup.select("#container > div.aside > div.group_aside > div.aside_area.aside_popular > table > tbody > tr")

    for item in data:
      results.append( (item.find('th').text, item.find_all('td')[0].text, item.find_all('td')[1].text[0:2]) )
    #print(results)

    return results

In [ ]:
def get_gap_items(driver):
    results = []
    
    # 문항 3) 수집하는 코드 작성하여 results에 추가
    driver.get("https://finance.naver.com/sise/")
    req = driver.page_source
    soup=BeautifulSoup(req, 'html.parser')    
    data = soup.select("#contentarea_right > div.box_type_r > table > tbody > tr")

    for item in data:
      results.append( (item.find_all('td')[0].text, item.find_all('td')[1].text) )
    #print(results)

    return results

In [ ]:
# - 외국인 순매수/순매도 (심화문제)

# 조건
# 5) (심화) 외국인 순매수/순매도를 수집하는 코드는 수집한 정보를 리스트의 딕셔너리로 반환합니다.
# 6) (심화) 순매수와 순매도가 'buy'키와 'sell'키에 구분된 채로 수집되어야합니다.
# 7) (심화) 엑셀로 저장할 때 순매수와 순매도 정보를 3번째 컬럼에 추가합니다. (이름, 가격, 순매수/순매도여부)

# 예시
# 5)~6) 데이터 결과 예시: {'buy': [['현대차', '102,500'], ['삼성화재', '203,500']], 'sell': ...}

In [ ]:
# 문항 4) 심화문제 함수 #
def get_foreigner_info(driver):
    results = {
        'buy': [],
        'sell': []
    }

    # 문항 5) 순매도와 순매수를 구분하여 results에 추가
    ### 순매수
    driver.get("https://finance.naver.com/sise/")
    req = driver.page_source
    soup=BeautifulSoup(req, 'html.parser')    

    data = soup.select("#contentarea_left > div.box_type_s > #frgn_deal_tab_0 > tbody > tr ")

    list3 = []

    list3.append([data[1].find_all('td')[1].text, data[1].find_all('td')[2].text])
    list3.append([data[2].find_all('td')[1].text, data[2].find_all('td')[2].text])
    list3.append([data[3].find_all('td')[1].text, data[3].find_all('td')[2].text])
    list3.append([data[7].find_all('td')[1].text, data[7].find_all('td')[2].text])
    list3.append([data[8].find_all('td')[1].text, data[8].find_all('td')[2].text])
    list3.append([data[9].find_all('td')[1].text, data[9].find_all('td')[2].text])

    #print(list3)

    ### 순매도

    data = soup.select("#contentarea_left > div.box_type_s > #frgn_deal_tab_1 > tbody > tr ")

    list4 = []

    list4.append([data[1].find_all('td')[1].text, data[1].find_all('td')[2].text])
    list4.append([data[2].find_all('td')[1].text, data[2].find_all('td')[2].text])
    list4.append([data[3].find_all('td')[1].text, data[3].find_all('td')[2].text])
    list4.append([data[7].find_all('td')[1].text, data[7].find_all('td')[2].text])
    list4.append([data[8].find_all('td')[1].text, data[8].find_all('td')[2].text])
    list4.append([data[9].find_all('td')[1].text, data[9].find_all('td')[2].text])

    #print(list4)

    results['buy'].append(list3)
    results['sell'].append(list4)

    return results

# 함수 호출

In [ ]:
list1 = get_popular_items(driver)
print(list1)

[('1.셀트리온', '328,000', '상승'), ('2.삼성전자', '54,400', '상승'), ('3.현대차', '117,500', '상승'), ('4.신풍제약', '73,000', '상승'), ('5.SK바이오팜', '191,000', '상승')]

In [ ]:
list2 = get_gap_items(driver)
print(list2)

[('신풍제약우', '98,400'), ('카스', '2,040'), ('웰크론한텍', '2,150'), ('형지I&C', '735'), ('일양약품우', '99,000'), ('영보화학', '3,255'), ('형지엘리트', '1,795'), ('뉴보텍', '1,665'), ('SK머티리얼즈', '246,000'), ('한국팩키지', '2,590'), ('유라테크', '8,860'), ('엔브이에이치코리아', '2,905'), ('CS', '2,535'), ('삼화전자', '2,970'), ('대유', '16,100'), ('교보8호스팩', '2,075'), ('경농', '12,550'), ('금호전기', '3,675'), ('RFHIC', '39,600'), ('미래테크놀로지', '8,090')]

In [ ]:

dict1 = get_foreigner_info(driver)
print(dict1)

{'buy': [[['현대차', '117,500'], ['삼성전자', '54,400'], ['셀트리온', '328,000'], ['NAVER', '276,000'], ['씨젠', '175,500'], ['KODEX 200', '29,225']]], 'sell': [[['LG화학', '516,000'], ['카카오', '325,000'], ['삼성SDI', '383,500'], ['KODEX 200선물인버스2X', '4,890'], ['한국금융지주', '48,650'], ['한국전력', '19,750']]]}

# 데이터프레임으로 변형

In [ ]:
df1 = pd.DataFrame(list1) 
df1

          0        1   2
0    1.셀트리온  328,000  상승
1    2.삼성전자   54,400  상승
2     3.현대차  117,500  상승
3    4.신풍제약   73,000  상승
4  5.SK바이오팜  191,000  상승

In [ ]:
df2 = pd.DataFrame(list2) 
df2

            0        1
0       신풍제약우   98,400
1          카스    2,040
2       웰크론한텍    2,150
3       형지I&C      735
4       일양약품우   99,000
5        영보화학    3,255
6       형지엘리트    1,795
7         뉴보텍    1,665
8     SK머티리얼즈  246,000
9       한국팩키지    2,590
10       유라테크    8,860
11  엔브이에이치코리아    2,905
12         CS    2,535
13       삼화전자    2,970
14         대유   16,100
15     교보8호스팩    2,075
16         경농   12,550
17       금호전기    3,675
18      RFHIC   39,600
19    미래테크놀로지    8,090

In [ ]:
list3 = []
for i in range(6) :
  dict1['buy'][0][i].append('buy')
  dict1['sell'][0][i].append('sell')
  list3.append(dict1['buy'][0][i])
  list3.append(dict1['sell'][0][i])

print(list3)

[['현대차', '117,500', 'buy'], ['LG화학', '516,000', 'sell'], ['삼성전자', '54,400', 'buy'], ['카카오', '325,000', 'sell'], ['셀트리온', '328,000', 'buy'], ['삼성SDI', '383,500', 'sell'], ['NAVER', '276,000', 'buy'], ['KODEX 200선물인버스2X', '4,890', 'sell'], ['씨젠', '175,500', 'buy'], ['한국금융지주', '48,650', 'sell'], ['KODEX 200', '29,225', 'buy'], ['한국전력', '19,750', 'sell']]

In [ ]:
df3 = pd.DataFrame(list3) 
df3

                   0        1     2
0                현대차  117,500   buy
1               LG화학  516,000  sell
2               삼성전자   54,400   buy
3                카카오  325,000  sell
4               셀트리온  328,000   buy
5              삼성SDI  383,500  sell
6              NAVER  276,000   buy
7   KODEX 200선물인버스2X    4,890  sell
8                 씨젠  175,500   buy
9             한국금융지주   48,650  sell
10         KODEX 200   29,225   buy
11              한국전력   19,750  sell

# 엑셀로 저장 - 문항 6)

In [ ]:
# 문항 6) 함수를 호출하고 엑셀에 저장하는 코드 작성

writer = pd.ExcelWriter('test.xlsx')
df1.to_excel(writer, 'sheet1') 
df2.to_excel(writer, 'sheet2')
df3.to_excel(writer, 'sheet3')
writer.save()
files.download('test.xlsx')  # 구글 Colab 파일 Download